#attrs==21.2.0
#matplotlib==3.4.3
#cycler >= 0.10.0 # matplotlib dependency -- should be installed automatically but it wasn't when tested on eng cml cluster
#scikit-learn==0.24.2
spacy==3.1.1
#spacy-transformers==1.0.3
#transformers==4.6.1 #4.92
#torch==1.9.0
#streamlit==0.87.0
#networkx==2.6.2
#pytextrank==3.2.1
#selenium==3.141.0
#wikipedia==1.4.0
#wikipedia-api==0.5.4
#-e .